#sidebar-left {
  position:relative;
  z-index: inherit;
  padding-bottom: 3000px !important;
  margin-bottom: -3000px !important;
  background-color: #f0f3f7;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.nav.main-menu{
  margin:0 -15px;
}
.nav.main-menu > li > a{
  text-align: center;
  color:#828890;
  min-height: 40px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#Greatormenu ul > li > a{
  text-align: center;
  color:#ffffff;
  min-height: 40px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; 
   background-color:#e65f5f;
}
.nav.main-menu > li > a:hover, .nav.main-menu > li > a:focus, .nav.main-menu > li.active > a, .nav.main-menu .open > a, .nav.main-menu .open > a:hover, .nav.main-menu .open > a:focus, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li.active > a {
  background-color: #fffadb;
  color:#828890;
}
#Greatormenu, #Greatormenu a { background-color: #e65f5f; color: #FFF;}
#Greatormenu .dropdown-menu > li > a:hover, #Greatormenu .dropdown-menu > li > a:focus, #Greatormenu .dropdown-menu > li.active > a, #Greatormenu .dropdown-menu .open > a, #Greatormenu .dropdown-menu .open > a:hover, #Greatormenu .dropdown-menu .open > a:focus, #Greatormenu .dropdown-menu > li > a:focus, #Greatormenu .dropdown-menu > li > a:hover, #Greatormenu .dropdown-menu > li.active > a {
  background-color: #ea6b6b;
  color:fffadb;
}
.nav.main-menu a.active {
  background-color: #b0d491;
  color:#FFF;
}
.nav.main-menu a.active:hover {
  background-color: #b0d491;
  color:#FFF;
}
.nav.main-menu a.active-parent {
  background-color: #b0d491;
}
#Greatormenu a.active-parent, #Greatormenu a.active-parent:hover{
  background-color: #e65f5f;
}
.nav.main-menu a.active-parent:hover{
  background-color: #b0d491;
}
.nav.main-menu > li > a > i{
  font-size: 18px;
  width: auto;
  display: block;
  text-align: center;
  vertical-align: middle;
}
.main-menu .dropdown-menu {
  position: absolute;
  z-index: 2001;
  left: 100%;
  top: 0;
  float: none;
  margin: 0;
  border: 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  padding: 0;
  background-color: #6AA6D6;
  box-shadow: none;
  visibility:hidden;
}
.main-menu .active-parent:hover + .dropdown-menu {
  visibility:visible;
}
.main-menu .active-parent + .dropdown-menu:hover {
  visibility:visible;
}
.main-menu .dropdown-menu > li > a {
  padding:9px 15px 9px 40px;
  color:#ffffff;
  background-color:#c1e2a4;
}
#Greatormenu .dropdown-menu > li > a {
  padding:9px 15px 9px 0px;
  color:#ffffff;
  background-color:#f37070;
}
.main-menu .dropdown-menu > li > a.active:hover, .main-menu .dropdown-menu > li > a:hover {
  padding:9px 15px 9px 40px;
  color:#ffffff;
  background-color:#b8d99c;
}
#sidebar-left.col-xs-2 {
  opacity: 0;
  width: 0%;
  padding: 0;
}
.sidebar-show #sidebar-left.col-xs-2 {
  opacity: 1;
  width: 16.666666666666664%;
  padding: 0 15px;
}
.sidebar-show #content.col-xs-12 {
  opacity: 1;
  width: 83.33333333333334%;
}
@media (min-width: 768px) {
  #sidebar-left.col-sm-2 {
    opacity: 1;
    width: 16.666666666666664%;
    padding: 0 15px;
  }
  .sidebar-show #sidebar-left.col-sm-2 {
    opacity: 0;
    width:0;
    padding:0;
  }
  .sidebar-show #content.col-sm-10 {
    opacity: 1;
    width:100%;
  }
}
@media (min-width: 992px) {
  #sidebar-left.col-sm-2 {
    opacity: 1;
    width: 16.666666666666664%;
    padding: 0 15px;
  }
  .sidebar-show #sidebar-left.col-sm-2 {
    opacity: 0;
    width:0;
    padding:0;
  }
  .sidebar-show #content.col-sm-10 {
    opacity: 1;
    width:100%;
  }
  
  #sidebar-left .nav.main-menu > li > a {
    text-align: left;
  }
  #sidebar-left .nav.main-menu > li > a > i {
    font-size:14px;
    width: 20px;
    display: inline-block;
  }
  #sidebar-left .main-menu .dropdown-menu {
    position: relative;
    z-index: inherit;
    left:0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background:rgba(0, 0, 0, 0.2);
    visibility: visible;
  }
  #sidebar-left .main-menu .dropdown-menu > li > a {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
  }
}
@media (max-width: 767px) {

}
@media (max-width: 620px) {

}
@media (max-width: 400px) {

}
